/* Bootstrap - Tags Input 컴포넌트*/
.bootstrap-tagsinput {
  margin-top:12px !important;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  display: inline-block;
  padding: 4px 6px;
  margin-bottom: 10px;
  color: #555;
  vertical-align: middle;
  border-radius: 4px;
  max-width: 500px;
  min-width: 200px;
  line-height: 26px;
  cursor: text;
}
.bootstrap-tagsinput input {
  border: none;
  box-shadow: none;
  outline: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  width: auto;
  max-width: inherit;
}
.bootstrap-tagsinput input:focus {
  border: none;
  box-shadow: none;
}
.bootstrap-tagsinput .tag {
  margin: 5px 2px;
  color: white;
  font-size:12px;
}
.bootstrap-tagsinput .tag [data-role="remove"] {
  margin-left: 8px;
  cursor: pointer;
}
.bootstrap-tagsinput .tag [data-role="remove"]:after {
  content: "x";
  padding: 0px 2px;
}
.bootstrap-tagsinput .tag [data-role="remove"]:hover {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.bootstrap-tagsinput .tag [data-role="remove"]:hover:active {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}


/*********************************************************/
/* 박스 모델 확인용 프레임라인 */
*
{
	/*border:1px dashed blue;*/
}
.padding_from_right
{
	margin-right:5%;
}
.glyphicon
{
	margin-right:4px;
	margin-left:4px;
}
/* 프로필 바 디자인 */
.bar_profile
{
	position:absolute;
	z-index:99;
	background: linear-gradient(to bottom,RGBA(130,90,180,1),RGBA(80,50,120,1));
	color:white;
	margin-bottom:10px;
	padding-right:5% !important;
	padding-left:5% !important;
	padding-bottom:2px;
	height:55px;
	box-shadow:0px 1px 4px 1px RGBA(140,140,140, 0.2);
}
.btn_profile
{
	margin-top:0%;
	margin-bottom:0%;
	height:55px;
	background: linear-gradient(to bottom,RGBA(130,90,180,1),RGBA(80,50,120,1));
	border-radius:0px;
}
.btn_profile:hover,
.btn_profile:focus,
.btn_profile:active
{
	color:white !important;
	background-color:RGBA(110,110,110,0.5) !important;
	box-shadow:0px 0px 22px RGBA(250,250,250,0.6);
}
#UserName
{
	font-size:15px;
	font-weight:bold;
	margin-left:10px;
	margin-right:5px;
}
.dropdown_profile
{
	background-color:RGBA(110,80,160,1);
	color:white !important;
	top:96%;
}
.dropdown_profile > li > a
{
	color:white;
}
.dropdown-menu > li :hover,
.dropdown-menu > li :focus,
.dropdown-menu > li :active
{
	color: black !important;
  	background-color:RGBA(255,255,255,0.3) !important;
  	font-weight: :bold !important;
}
.dropdown_profile .divider
{
	margin-left:5%;
	background-color:RGBA(90,90,90,0.85);
	width:90%;
}
.img_profile
{
	height:38px;
}
.logo_profile
{
	height : 35px;
	font-size:22px;
	font-weight:bold;
	margin-left:auto;
	margin-right:7px;
	margin-bottom:5px;
	color:white;
}

/* 검색창 컨테이너 클래스*/
.container_searchBarGrid
{
	position:absolute;
	z-index:98;
	margin-top:54px;
	width:100%;
	height:125px;
	background-color:RGBA(251,251,251,1);
	padding-top:30px;
	padding-bottom:30px;;
	box-shadow:0px 2px 5px RGBA(200,200,200,0.5);
}
.form_searchBar
{
	height:32px;
}
.form_searchTag
{
	width:550px;
	margin-left:15%;
}
.bootstrap-tagsinput
{
	display:inline-block !important;
	width:550px !important;
	overflow:auto;
}
.input-group-btn
{
	position:relative;
	top:-42px;
	display:inline-block !important;
}
.btn_searchBar
{
	background-color:RGBA(255,255,255,1);
	box-shadow:0px 0px 5px RGBA(100,100,100,0.3);
	color:black;
	border:1px solid RGBA(150,150,150,0.8);
	border-radius:2px;
	height:35.5px;
	display:inline-block;
}
.btn_serachIcon
{
	font-size:15px;
	font-weight:bold;
}
.form_searchTag
{
	display:inline-block !important;
	max-height:31.5px !important;
}
.btn_fileMenu
{
	padding-top:5px;
	padding-bottom:2px;
	color:black;
	font-size:24px;
	background-color:white;
	border:0px;
	border-radius:2px;
	box-shadow:0px 0px 4px RGBA(100,100,100,0.5);
}

/* 파일 시스템 프레임 디자인 */
#container_fileSystemGrid
{
	width:100%;
	height:900px;
	z-index:95;
	position:absolute;
	left:0;
	top:175px;
	display:inline-block;
	min-height:400px !important;
}
/* 파일 정보 표시창 컨테이너 디자인*/
.container_categoryGrid
{
	float:left;
	height:100%;
	width:250px;
	border:2px solid RGBA(240,240,240,0.8);
	background-color:RGBA(252,252,252,0.8);
	display:inline-block;
	min-height:400px !important;
	padding-left:40px;
	padding-top:40px;
}

/* 파일 드라이브 표시창 컨테이너 디자인*/
#container_fileDriveGrid
{
	position:absolute;
	top:20px;
	margin-right:10px;
	float:left;
	margin-left:10px;
	width:800px;
	height:95%;
	display:inline-block;
	overflow-y:scroll;
	min-height:400px !important;
}
.grid_fileIcon
{
	margin:25px 15px ;
	width:120px;
	height:165px;
	display:inline-block;
	list-style-type:none;

	padding-bottom:0px;
	vertical-align:top;
}
.btn_fileIcon
{
	width:100px;
	height:100px;
	background-color:white;
	border-radius:16px;
	border-top-right-radius:16px !important;
	border-bottom-right-radius:16px !important;
	border:4px solid RGBA(150,240,255,0.1);
}
.img_fileIcon
{
	width:80px;
	height:80px;
}

/* 파일 업로드 폼 디자인 */
.btn_fileUpload
{
	position:absolute;
	top:-100px;
	width:0;
	height:0;
	opacity:0;
	display:none;
}
.form_fileUpload
{
	margin:10px 10px;
	margin-bottom:30px;
}

.txt_fileUpload
{
	margin-top:4px;
	margin-bottom:10px;
	width:70%;
	border:0px;
	display:inline-block;
	background-color:RGBA(200,200,200,0.3);
	text-align:center;
}
.form_fileTag
{
	margin-bottom:30px;
	display:inline-block;
}
.list_fileTag
{
	width:100%;
	display:inline-block;
	padding:0px;
}
/*
#btn_createTag
{
	margin-top:5px;
	margin-right:8px;
	vertical-align:top;
}
#btn_deleteTag
{
	margin-top:5px;
	margin-right:8px;
	vertical-align:top;
}*/
ol.list_fileTag > li
{
	display:inline-block;
	padding:0px 0px 0px 0px;
	width:80px;
	list-style-type:none;
	margin-top:8px;
	margin-bottom:0px;
}
.txt_fileTag
{
	padding:0px 0px 0px 0px;
	width:100%;
}

.header_fileIcon
{
	padding-top:10px;
	width:100px;
	height:90px;
	overflow:visible;
	text-align:center;
	vertical-align: center;
	text-shadow:2px 2px 2px RGBA(100,100,100,0.4);
	position:static;
}
.divider_modal
{
	height:1px;
	width:98%;
	border:2px solid RGBA(100,100,100,1.0);
}
.help-block
{
	font-size:12px;
}

/* 카테고리 목록 디자인 */
.item_category
{
	color:black;
	text-decoration:none;
}
.item_category : hover,
.item_category : focus,
.item_category : active
{
	color:black !important;
	text-decoration:none !important;
}

/* 파일 아이콘 드랍다운 메뉴 */
#dropdown_fileIcon
{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1001;
  display:none;
}
.selected_fileIcon
{
	box-shadow:0px 0px 5px 5px RGBA(200,200,200,0.5);
}

/* 모달 다이얼로그 디자인 */
#modal_fileUpload> div> div
{
	position:fixed;
	margin-top:20%;
	left:0%;
}
.modal-body > table > tbody > tr
{
	height:40px;
}
.modal-body > table > tbody > tr > th
{
	text-align:right;
	width:90px;
	height:40px;
	padding-right:5px;
}
.modal-body > table > tbody > tr > td
{
	text-align:left;
	height:40px;
	padding-left:20px;
}
.modal-body > table > tbody > tr:nth-child(4) >th
{
	vertical-align:top;
	padding-top:20px;
}
#fileinfo_tags > div
{
	max-width:400px !important;
}